@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  background-color: #111827;
  color: #fff;
  max-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007bff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0759b1;
}